/* Estilo para as guias (tabs) */
.box{
    padding: 100px 100px;
    box-shadow: 10px 10px 16px rgba(0, 0 ,0, 0.08);
    background-color: #FFE5BF;
 

    
}

.tabs {
    display: flex;
    
  }
  
  .tab {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    color: #842222;
    background-color: #FEF7D5;
    border: 1px solid #FFF281;
    border-radius: 20px 20px 0 0;
  }
  
  .active-tab {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: bold;
  }
  
  /* Estilo para o conteúdo das guias (opcional) */
  .contents {
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    background-color: #fff;
  }
  
  .content {
    display: none;
  }
  
  .active-content {
    display: block;
  }
  