.campo-texto {
    margin: 24px 0;

}

.campo-texto label {
    margin-bottom: 2px;
    opacity: 0;
    
}
.campo-texto input {
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: transparent;
    
}
